<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
</head>

<body>

<% if (userName == null) { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mr-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

      <div class="navbar-collapse mr-auto" id="navbarSupportedContent col-md-16">
          <div class="row col-md-8 float-left">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item col-md-8">
                      <a class="nav-link text-white" href="../../items">Items</a>
                  </li>
                  <li class="nav-item col-md-8">
                      <a class="nav-link text-white" href="../../login">login</a>
                  </li>
            </ul> 
          </div>
        </div>
  </nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mr-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse mr-auto" id="navbarSupportedContent col-md-16">
        <div class="container col-md-6">
          <ul class="navbar-nav">
            <li class="nav-item col-md-2">
              <a class="nav-link text-white" href="../../items">Items</a>
            </li>
          </ul>
        </div>
        <div class="container">
          <ul class="navbar-nav">
              <li class="nav-item col-md-6">
                 Welcome <%= userName %>!
              </li>
              <li class="nav-item col-md-7">
                  <a href="../../cart" class="nav-link text-white">
                      <span class="glyphicon glyphicon-shopping-cart">Cart</span>
                  </a>
              </li>
              <li class="nav-item col-md-3">
                <a class="nav-link text-white" href="../../signout">Sign Out</a>
            </li>
          </ul> 
        </div>
  </nav>
<% } %>

<h2 class="text-center">Modify Order</h2>
<h4 class="text-center">Order No: <%= order[0].orderId %></h4>
  
<div class="container col-md-12 border border-primary" >
    <div class="row ml-2 mr-2" >
        <div class="col col-sm-3 mt-1 p-1"><p>Item</p></div>
        <div class="col col-sm-2 mt-1 p-1"><p>Price</p></div>
        <div class="col col-sm-2 mt-1 p-1"><p>Quantity</p></div>
        <div class="col col-sm-2 mt-1 p-1"><p>Sub-Total</p></div> 
    </div>

    <% for (var i in order) { %>
       <div class="row ml-2 mr-2" >
          <div class="col col-sm-3 mt-1 p-1">
              <p style="border:none" name="itemName[<%=i %>" id="itemName<%= i %>"><%= order[i].itemName %></p>
          </div>
          <div class="col col-sm-2 mr-0 pr-0 mt-1 p-1 float-left">
             <span class="col-sm-1 p-0 m-0 text-right">$</span>
             <p class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" name="price<%= i %>" id="price<%= i %>"><%= order[i].price %></p>
          </div>
          <div class="col col-sm-2 mt-1 p-1 ">
             <input type="text" style="border:none" name="quantity<%= i %>" id="quantity<%= i %>" oninput="updateTotals(<%= order[0].orderId %>, <%= i %>)" value="<%= order[i].quantity %>">
          </div>  
          <div class="col col-sm-2 mr-0 pr-0 mt-1 p-1 float-left">
             <span class="col-sm-1 p-0 m-0 text-right">$</span>
             <p class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" name="subTotal<%= i %>" id="subTotal<%= i %>" value="<%= order[i].subTotal %>"><%= order[i].subTotal %></p>
          </div>
<!--          <div class="col col-sm-2 mt-1 p-1 float-left">
              <a class="btn btn-primary text-white" id="updateOrder">Update</a>
           </div> -->
        </div>
      <%  } %>
</div>        


<div class="container" >
    <div class="col col-sm-2">
       <h5 class="text-primary">Total :</h5>
    </div>
    <div class="col col-sm-2 mt-2">
        <span class="col-sm-2 p-0 m-0 text-right">$</span>
        <p class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" name="total" id="total" value="<%= order[0].total %>"><%= order[0].total %></p>
    </div>
</div>

<div class="container col-sm-6 mt-1 p-1 float-left">
    <a class="btn btn-primary text-white" id="updateOrder">Update</a>
</div>
<!--              <a class="btn btn-primary text-white" id="updateOrder" onclick="callUpdate(<%= order[0].orderId %>, <%= i %>)">Update</a> -->

<script>

function updateTotals (orderNo, j) {
  console.log ("j : " + j);

  var qty = document.getElementById('quantity' + j).value;
  var Price = parseFloat (document.getElementById('price' + j).innerHTML);
  var prevSubTotal = parseFloat (document.getElementById('subTotal' + j).innerHTML);

  console.log ("Qty : " + qty);
  console.log ("Price : " + Price);
  console.log ("prevSub : " + prevSubTotal);
  var res = qty * Price;
  document.getElementById('subTotal' + j).innerHTML = res.toFixed(2);
  
  var totalDiff = res - prevSubTotal;
  var curTotal = parseFloat (document.getElementById("total").innerHTML);
  console.log ("totaldiff : " + totalDiff);
  console.log ("curTotal : " + curTotal);
  var netTotal = curTotal + totalDiff;
  document.getElementById("total").innerHTML = netTotal.toFixed(2);

  var link = "/prevOrders/updateOrder/" + orderNo + "/" + document.getElementById("itemName" + j).innerHTML + "/" + document.getElementById('quantity' + j).value + "/" + document.getElementById("price" + j).innerHTML + "/" + document.getElementById("total").innerHTML;
  document.getElementById("updateOrder").href = link;
  console.log (document.getElementById("updateOrder").href);
}

function callUpdate(orderNo, j) {
  console.log ("orderNo: " + orderNo);
  console.log ("j: " + j);
  var link = "/prevOrders/updateOrder/" + orderNo + "/" + document.getElementById("itemName" + j).innerHTML + "/" + document.getElementById('quantity' + j).value + "/" + document.getElementById("price" + j).innerHTML + "/" + document.getElementById("total").innerHTML;
  document.getElementById("updateOrder").href = link;
  console.log (document.getElementById("updateOrder").href);
}

</script>
</body>
</html>

