<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
</head>

<body>

<% if (userName == null) { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mr-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

      <div class="navbar-collapse mr-auto" id="navbarSupportedContent col-md-16">
          <div class="row col-md-8 float-left">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item col-md-8">
                      <a class="nav-link text-white" href="items">Items</a>
                  </li>
                  <li class="nav-item col-md-8">
                      <a class="nav-link text-white" href="login">login</a>
                  </li>
            </ul> 
          </div>
        </div>
  </nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mr-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse mr-auto" id="navbarSupportedContent col-md-16">
        <div class="container col-md-6">
          <ul class="navbar-nav">
            <li class="nav-item col-md-2">
              <a class="nav-link text-white" href="../items">Items</a>
            </li>
          </ul>
        </div>
        <div class="container">
          <ul class="navbar-nav">
              <li class="nav-item col-md-6">
                 Welcome <%= userName %>!
              </li>
              <li class="nav-item col-md-7">
                  <a href="cart" class="nav-link text-white">
                      <span class="glyphicon glyphicon-shopping-cart">Cart</span>
                  </a>
              </li>
              <li class="nav-item col-md-3">
                <a class="nav-link text-white" href="signout">Sign Out</a>
            </li>
          </ul> 
        </div>
  </nav>
<% } %>

<% if (orders == null) { %>
  <h2 class="text-center">No orders found</h2>
<% } else { %>
  <h2 class="text-center">Order History</h2>


  <div class="container col-md-16 " >
    <% var curOrd = 0;
        var prevOrd = 0; %>
    <%  orders.forEach(function (indivOrd) { %>
      <%  if (curOrd == 0) {
        curOrd = indivOrd.orderId;
      } else {
        prevOrd = curOrd;
        curOrd = indivOrd.orderId;
      } %>
      
      <div class="container col-md-12 border border-primary" >
      
        <% if ((curOrd == indivOrd.orderId) && (curOrd != prevOrd)) { %>
          <div class="row col-md-14 ml-2 mr-2" >
            
            <div class="col col-sm-4  mt-1 p-1 mr-auto text-left">
                <h3 class="text-primary text-left" name="orderId" id="orderId">Order No: <%= indivOrd.orderId %></h3>
                <p>Order Status : <%= indivOrd.status %></p>
            </div>
            <div class="col col-sm-8 mt-3 p-1 text-right">
              <% if (userName === "Admin") { %>
                <a class="btn btn-primary"href="/prevOrders/approve/<%= curOrd %>">Approve</a>
              <% } else {
                 if (indivOrd.status === "Placed") { %>
                <a class="btn btn-primary" href="/prevOrders/cancel/<%= curOrd %>">Cancel Order</a>
                <a class="btn btn-primary" href="/prevOrders/modify/<%= curOrd %>">Modify Order</a>
                <% }
              } %>
            </div>
          </div>
          <div class="row ml-2 mr-2" >
            <div class="col col-sm-3 mt-1 p-1"><p>Item</p></div>
            <div class="col col-sm-2 mt-1 p-1"><p>Quantity</p></div>
            <div class="col col-sm-2 mt-1 p-1"><p>Price</p></div>
            <div class="col col-sm-2 mt-1 p-1"><p>Sub-Total</p></div> 
          </div>
         <% } %>

          <% orders.forEach(function (ord) { %>
            <% if ((curOrd == ord.orderId) && (prevOrd != ord.orderId)) {%>
            <div class="row ml-2 mr-2" >
              <div class="col col-sm-3 mt-1 p-1">
<!--                 <input type="text" style="border:none" value="<%= ord.itemName %>"  name="itemName" id="itemName"> -->
                 <p style="border:none" name="itemName" id="itemName"><%= ord.itemName %></p>
              </div>
              <div class="col col-sm-2 mr-0 pr-0 mt-1 p-1 float-left">
                 <span class="col-sm-1 p-0 m-0 text-right">$</span>
<!--                <input type="text" class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" value="<%= ord.price %>"  name="price" id="price"> -->
                <p class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" name="price" id="price"><%= ord.price %></p>
              </div>
              <div class="col col-sm-2 mt-1 p-1 ">
<!--                <input type="text" style="border:none" value="<%= ord.quantity %>" name="quantity" id="quantity"> -->
                <p style="border:none" name="quantity" id="quantity"><%= ord.quantity %></p>
              </div>  
              <div class="col col-sm-2 mr-0 pr-0 mt-1 p-1 float-left">
                <span class="col-sm-1 p-0 m-0 text-right">$</span>
                <p class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" name="subTotal" id="subTotal"><%= ord.subTotal %></p>
<!--                <input type="text" class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" value="<%= ord.subTotal %>" name="subTotal" id="subTotal"> -->
              </div>
            </div>
            <% } %>
          <%  }) %>
        
        <% if ((curOrd == indivOrd.orderId) && (curOrd != prevOrd)) { %>
        <div class="row" >
          <div class="col col-sm-2">
            <h5 class="text-primary">Total :</h5>
          </div>
          <div class="col col-sm-2 mt-2">
            <span class="col-sm-2 p-0 m-0 text-right">$</span>
            <p class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" name="total" id="total"><%= indivOrd.total %></p>
<!--            <input type="text" class="col-sm-6 m-0 p-0 mr-0 pr-0 text-left" style="border:none" value="<%= indivOrd.total %>" name="total" id="total"> -->
          </div>
        </div>
      <% } %>
      </div>

    <% }) %>
  </div>
<% } %>

</body>
</html>

